<div
  class="flex flex-col items-center justify-center px-4 pt-[96px] md:h-screen overflow-y-scroll relative"
  [ngStyle]="{
    background:
      'linear-gradient(45deg, rgb(33, 212, 182, 0.5) 0%, rgb(134, 213, 134, 0.5) 100%)'
  }"
>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <app-pokemon-tile
      *ngFor="let pokemon of displayed_pokemons"
      [pokemon]="pokemon"
      class="flex"
    ></app-pokemon-tile>
  </div>

  <!-- Desktop navigation -->
  <button
    #buttonPrevious
    (click)="onLessPokemons()"
    class="hidden xl:flex xl:absolute lg:left-12 {{
      offset === 0 ? 'opacity-50' : ''
    }}"
    [disabled]="offset === 0"
  >
    <img src="assets/img/icons/key-left.png" alt="left-arrow" class="h-12" />
  </button>

  <button
    #buttonNext
    (click)="onMorePokemons()"
    class="h-12 hidden xl:flex xl:absolute lg:right-12"
  >
    <img src="assets/img/icons/key-right.png" alt="right-arrow" class="h-12" />
  </button>

  <!-- Mobile navigation -->
  <div class="flex xl:hidden my-4">
    <button
      #buttonPrevious
      (click)="onLessPokemons()"
      class="{{ offset === 0 ? 'opacity-50' : '' }}"
      [disabled]="offset === 0"
    >
      <img src="assets/img/icons/key-left.png" alt="left-arrow" class="h-12" />
    </button>

    <button #buttonNext (click)="onMorePokemons()" class="">
      <img
        src="assets/img/icons/key-right.png"
        alt="right-arrow"
        class="h-12"
      />
    </button>
  </div>
</div>
