<app-pokemon-input></app-pokemon-input>
<div *ngIf="pokemonFull">
  <img
    height="300"
    height="300"
    src="https://img.pokemondb.net/artwork/{{ pokemonFull.name }}.jpg"
  />
  <!-- <img
    height="300"
    height="300"
    src="https://svgsilh.com/png-1024/1574006.png"
  /> -->
  <div>id: {{ pokemonFull.id }}</div>
  <div>name: {{ pokemonFull.name }}</div>
  <div>height: {{ pokemonFull.height }}</div>
  <div>weight: {{ pokemonFull.weight }}</div>
  <div>
    types:
    <div *ngFor="let type of pokemonFull.types">
      <div>{{ type }}</div>
    </div>
  </div>
  <div>
    stats:
    <div *ngFor="let stat of pokemonFull.stats">
      <div>{{ stat.name }}: {{ stat.value }}</div>
    </div>
  </div>
  <div>captured: {{ pokemonFull.captured ? "captured" : "not captured" }}</div>
  <button (click)="togglePokemonCapture()">
    {{ pokemonFull.captured ? "release" : "capture" }}
  </button>
  <button
    [routerLink]="['/pokemon', pokemonFull.id - 1]"
    [disabled]="pokemonFull.id === 1"
  >
    previous
  </button>
  <button [routerLink]="['/pokemon', pokemonFull.id + 1]">next</button>
</div>
