<app-pokemon-input></app-pokemon-input>
<div *ngIf="pokemonFull">
  <img
    height="300"
    height="300"
    src="https://img.pokemondb.net/artwork/{{ pokemonFull.name }}.jpg"
  />
  <!-- <img
    height="300"
    height="300"
    src="https://svgsilh.com/png-1024/1574006.png"
  /> -->
  <div>id: {{ pokemonFull.id }}</div>
  <div>name: {{ pokemonFull.name }}</div>
  <div>base_experience: {{ pokemonFull.base_experience }}</div>
  <div>order: {{ pokemonFull.order }}</div>
  <div>weight: {{ pokemonFull.weight }}</div>
  <div>slot: {{ pokemonFull.pokemon_v2_pokemontypes[0]?.slot }}</div>
  <div>
    type: {{ pokemonFull.pokemon_v2_pokemontypes[0]?.pokemon_v2_type.name }}
  </div>
  <div>captured: {{ pokemonFull.captured ? "captured" : "not captured" }}</div>
  <button (click)="togglePokemonCapture()">
    {{ pokemonFull.captured ? "release" : "capture" }}
  </button>
  <button
    [routerLink]="['/pokemon', pokemonFull.id - 1]"
    [disabled]="pokemonFull.id === 1"
  >
    previous
  </button>
  <button [routerLink]="['/pokemon', pokemonFull.id + 1]">next</button>
</div>
