@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "pocket";
    src: url("./assets/fonts/PocketMonk.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
