@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "pocket";
    src: url("./assets/fonts/PocketMonk.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "karla";
    src: url("./assets/fonts/Karla-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@layer base {
  html {
    font-family: "karla", system-ui, sans-serif;
  }
}

body {
  background-image: linear-gradient(
    45deg,
    rgb(33 212 182 / 50%) 0%,
    rgb(134 213 134 / 50%) 100%
  );
  height: 100dvh;
}
