@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "pocket";
    src: url("./assets/fonts/PocketMonk.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "karla";
    src: url("./assets/fonts/Karla-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@layer base {
  html {
    font-family: "karla", system-ui, sans-serif;
  }
}
