<div
  class="absolute w-full bg-transparent h-[96px] flex flex-wrap items-center justify-between px-4 sm:px-8 md:px-12 xl:px-24 py-6 z-40"
>
  <div class="flex flex-wrap">
    <button
      [routerLink]="['/']"
      class="flex items-center justify-center h-12 w-12 mr-2 rounded-full cursor-pointer bg-gray-500 bg-opacity-30"
    >
      <img class="h-5 w-5" [src]="'assets/img/icons/home-icon.png'" />
    </button>
    <app-pokemon-input></app-pokemon-input>
  </div>
  <div (click)="toggleSidePanel()" class="relative z-30">
    <div
      class="flex h-12 py-3 px-3 sm:px-4 mx-1 rounded-full cursor-pointer bg-gray-500 bg-opacity-30"
    >
      <span class="hidden sm:flex text-white font-pocket text-xl"
        >My pokemons</span
      >
      <img
        src="https://tcg.pokemon.com/assets/img/parents-guide/header/pokeball.png"
        alt="pokeball-icon"
        class="h-6 sm:ml-2"
      />
    </div>
  </div>
</div>
