<div class="w-64 search-container">
  <div class="relative mx-auto text-gray-600">
    <input
      [formControl]="searchControl"
      (keyup.enter)="goToFirstResult()"
      class="bg-white h-12 px-5 pr-16 rounded-full text-md focus:outline-none"
      type="search"
      name="search"
      placeholder="Search Pokémon"
    />
    <button
      type="submit"
      (click)="goToFirstResult()"
      class="absolute right-0 top-0 mt-4 mr-4"
    >
      <svg
        class="text-gray-400 h-4 w-4 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Capa_1"
        x="0px"
        y="0px"
        viewBox="0 0 56.966 56.966"
        style="enable-background: new 0 0 56.966 56.966"
        xml:space="preserve"
        width="512px"
        height="512px"
      >
        <path
          d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
        />
      </svg>
    </button>
  </div>
  <!-- <button [routerLink]="['/pokemon-detail', result.id]">Go to Pokémon</button> -->

  <div
    *ngIf="showResults && searchResults.length > 0"
    class="absolute left-[2rem] sm:left-[4.5rem] bg-white rounded-3xl mt-4 p-4 z-50 max-w-[calc(100%-4rem)] xl:w-90 max-h-[calc(100vh-106px)] overflow-y-scroll"
  >
    <div>
      <div *ngFor="let result of searchResults">
        <div [routerLink]="['/pokemon', result.id]" (click)="hideResults()">
          <div
            class="flex flex-wrap items-center rounded-full px-2 bg-gray-50 hover:bg-gray-200 duration-300 m-2 cursor-pointer"
          >
            <div class="h-12 w-12 rounded-full bg-gray-200 my-1">
              <img
                height="30"
                height="30"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
                  result?.id
                }}.png"
                class="relative z-10"
              />
            </div>
            <div
              class="flex flex-wrap items-center justify-between ml-2 px-2 grow"
            >
              <div class="text-xl text-gray-400 capitalize">
                {{ result.name }}
              </div>
              <div
                class="font-mono text-xl font-black ml-4 text-gray-200 leading-none"
              >
                #{{ result.id }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="searchControl.value && searchResults.length === 0"
    class="absolute left-[2rem] sm:left-[4.5rem] bg-white rounded-3xl mt-4 p-4 z-50 max-w-[calc(100%-4rem)] xl:w-90 max-h-[calc(100vh-106px)] overflow-y-scroll"
  >
    No results found.
  </div>
</div>
